1. Acquire data from the cloud database.

 You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [1]:
import wrangle as w
import env as e
import pandas as pd

In [2]:
df=w.get_data()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52319 entries, 0 to 52318
Data columns (total 71 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        76 non-null     float64
 1   storytypeid                   47 non-null     float64
 2   propertylandusetypeid         52319 non-null  float64
 3   heatingorsystemtypeid         33849 non-null  float64
 4   buildingclasstypeid           0 non-null      float64
 5   architecturalstyletypeid      70 non-null     float64
 6   airconditioningtypeid         13615 non-null  float64
 7   parcelid                      52319 non-null  int64
 8   id                            52319 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52319 non-null  float64
 11  bedroomcnt                    52319 non-null  float64
 12  buildingqualitytypeid         33654 non-null  float64
 13  calculatedbathnbr             52184 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4371 non-null   float64
 16  calculatedfinishedsquarefeet  52238 non-null  float64
 17  finishedsquarefeet12          52073 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4371 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52319 non-null  float64
 23  fireplacecnt                  7233 non-null   float64
 24  fullbathcnt                   52184 non-null  float64
 25  garagecarcnt                  17984 non-null  float64
 26  garagetotalsqft               17984 non-null  float64
 27  hashottuborspa                1514 non-null   float64
 28  latitude                      52319 non-null  float64
 29  longitude                     52319 non-null  float64
 30  lotsizesquarefeet             51953 non-null  float64
 31  poolcnt                       11077 non-null  float64
 32  poolsizesum                   865 non-null    float64
 33  pooltypeid10                  443 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   9990 non-null   float64
 36  propertycountylandusecode     52319 non-null  object
 37  propertyzoningdesc            33761 non-null  object
 38  rawcensustractandblock        52319 non-null  float64
 39  regionidcity                  51283 non-null  float64
 40  regionidcounty                52319 non-null  float64
 41  regionidneighborhood          18981 non-null  float64
 42  regionidzip                   52293 non-null  float64
 43  roomcnt                       52319 non-null  float64
 44  threequarterbathnbr           6717 non-null   float64
 45  unitcnt                       33761 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52205 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52237 non-null  float64
 52  taxvaluedollarcnt             52318 non-null  float64
 53  assessmentyear                52319 non-null  float64
 54  landtaxvaluedollarcnt         52318 non-null  float64
 55  taxamount                     52315 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52198 non-null  float64
 59  max_transactiondate           52319 non-null  object
 60  id.1                          52319 non-null  int64
 61  parcelid.1                    52319 non-null  int64
 62  logerror                      52319 non-null  float64
 63  transactiondate               52319 non-null  object
 64  airconditioningdesc           13615 non-null  object
 65  architecturalstyledesc        70 non-null     object
 66  buildingclassdesc             0 non-null      float64
 67  heatingorsystemdesc           33849 non-null  object
 68  propertylandusedesc           52319 non-null  object
 69  storydesc                     47 non-null     object
 70  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(4), object(11)
memory usage: 28.7+ MB

In [4]:
def missing_values(df):
    # Calculate the number of missing values for each attribute
    missing_counts = df.isnull().sum()
    
    # Calculate the percentage of missing values for each attribute
    total_rows = len(df)
    missing_percentages = (missing_counts / total_rows) * 100
    
    # Create a new DataFrame with the attribute name, missing count, and missing percentage
    result_df = pd.DataFrame({
        'Attribute': missing_counts.index,
        'Missing Count': missing_counts.values,
        'Missing Percentage': missing_percentages.values
    })
    
    return result_df

In [5]:
missing_values(df)

                 Attribute  Missing Count  Missing Percentage
0   typeconstructiontypeid          52243           99.854737
1              storytypeid          52272           99.910166
2    propertylandusetypeid              0            0.000000
3    heatingorsystemtypeid          18470           35.302663
4      buildingclasstypeid          52319          100.000000
..                     ...            ...                 ...
66       buildingclassdesc          52319          100.000000
67     heatingorsystemdesc          18470           35.302663
68     propertylandusedesc              0            0.000000
69               storydesc          52272           99.910166
70    typeconstructiondesc          52243           99.854737

[71 rows x 3 columns]

Prepare:

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

4. The input:
   A dataframe
   
   A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
   
   A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
   
- The output:
  The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
  
   hint:
2. Look up the dropna documentation.
3. You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
4. Encapsulate your work inside of functions in a wrangle_zillow.py module

In [6]:
df.head(3)

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,parcelid.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,14297519,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,17052889,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,14186244,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN

In [7]:
df.isnull().sum()

typeconstructiontypeid    52243
storytypeid               52272
propertylandusetypeid         0
heatingorsystemtypeid     18470
buildingclasstypeid       52319
                          ...
buildingclassdesc         52319
heatingorsystemdesc       18470
propertylandusedesc           0
storydesc                 52272
typeconstructiondesc      52243
Length: 71, dtype: int64

In [8]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    # Drop columns based on missing value percentage
    threshold_col = int(prop_required_column * len(df.index))
    df.dropna(axis=1, thresh=threshold_col, inplace=True)
    
    # Drop rows based on missing value percentage
    threshold_row = int(prop_required_row * len(df.columns))
    df.dropna(axis=0, thresh=threshold_row, inplace=True)
    
    return df

In [9]:
df=handle_missing_values(df, .97, .97)
df

,propertylandusetypeid,parcelid,id,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,...,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,max_transactiondate,id.1,parcelid.1,logerror,transactiondate,propertylandusedesc
0,261.0,14297519,1727539,3.5,4.0,3.5,3100.0,3100.0,6059.0,3.0,...,2016.0,537569.0,11013.72,6.059063e+13,2017-01-01,0,14297519,0.025595,2017-01-01,Single Family Residential
1,261.0,17052889,1387261,1.0,2.0,1.0,1465.0,1465.0,6111.0,1.0,...,2016.0,376000.0,5672.48,6.111001e+13,2017-01-01,1,17052889,0.055619,2017-01-01,Single Family Residential
2,261.0,14186244,11677,2.0,3.0,2.0,1243.0,1243.0,6059.0,2.0,...,2016.0,479489.0,6488.30,6.059022e+13,2017-01-01,2,14186244,0.005383,2017-01-01,Single Family Residential
3,261.0,12177905,2288172,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,...,2016.0,36225.0,1777.51,6.037300e+13,2017-01-01,3,12177905,-0.103410,2017-01-01,Single Family Residential
4,261.0,12095076,781532,3.0,4.0,3.0,2962.0,2962.0,6037.0,3.0,...,2016.0,496619.0,9516.26,6.037461e+13,2017-01-01,6,12095076,-0.001011,2017-01-01,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52314,261.0,12412492,2274245,2.0,4.0,2.0,1633.0,1633.0,6037.0,2.0,...,2016.0,221068.0,4175.08,6.037555e+13,2017-09-19,77607,12412492,0.001082,2017-09-19,Single Family Residential
52315,261.0,11000655,673515,2.0,2.0,2.0,1286.0,1286.0,6037.0,2.0,...,2016.0,283704.0,4478.43,6.037101e+13,2017-09-20,77609,11000655,0.020615,2017-09-20,Single Family Residential
52316,261.0,17239384,2968375,2.0,4.0,2.0,1612.0,1612.0,6111.0,2.0,...,2016.0,16522.0,1107.48,6.111008e+13,2017-09-21,77610,17239384,0.013209,2017-09-21,Single Family Residential
52317,261.0,12773139,1843709,1.0,3.0,1.0,1032.0,1032.0,6037.0,1.0,...,2016.0,16749.0,876.43,6.037434e+13,2017-09-21,77611,12773139,0.037129,2017-09-21,Single Family Residential
52318,261.0,12826780,1187175,2.0,3.0,2.0,1762.0,1762.0,6037.0,2.0,...,2016.0,382000.0,6317.15,6.037503e+13,2017-09-25,77612,12826780,0.007204,2017-09-25,Single Family Residential

In [10]:
df.isnull().sum()

propertylandusetypeid             0
parcelid                          0
id                                0
bathroomcnt                       0
bedroomcnt                        0
calculatedbathnbr                 0
calculatedfinishedsquarefeet      0
finishedsquarefeet12            139
fips                              0
fullbathcnt                       0
latitude                          0
longitude                         0
lotsizesquarefeet               277
propertycountylandusecode         0
rawcensustractandblock            0
regionidcity                    969
regionidcounty                    0
regionidzip                       1
roomcnt                           0
yearbuilt                        25
structuretaxvaluedollarcnt       57
taxvaluedollarcnt                 0
assessmentyear                    0
landtaxvaluedollarcnt             0
taxamount                         3
censustractandblock              45
max_transactiondate               0
id.1                              0
parcelid.1                        0
logerror                          0
transactiondate                   0
propertylandusedesc               0
dtype: int64

In [11]:
missing_values(df)

                       Attribute  Missing Count  Missing Percentage
0          propertylandusetypeid              0            0.000000
1                       parcelid              0            0.000000
2                             id              0            0.000000
3                    bathroomcnt              0            0.000000
4                     bedroomcnt              0            0.000000
5              calculatedbathnbr              0            0.000000
6   calculatedfinishedsquarefeet              0            0.000000
7           finishedsquarefeet12            139            0.266923
8                           fips              0            0.000000
9                    fullbathcnt              0            0.000000
10                      latitude              0            0.000000
11                     longitude              0            0.000000
12             lotsizesquarefeet            277            0.531925
13     propertycountylandusecode              0            0.000000
14        rawcensustractandblock              0            0.000000
15                  regionidcity            969            1.860778
16                regionidcounty              0            0.000000
17                   regionidzip              1            0.001920
18                       roomcnt              0            0.000000
19                     yearbuilt             25            0.048008
20    structuretaxvaluedollarcnt             57            0.109458
21             taxvaluedollarcnt              0            0.000000
22                assessmentyear              0            0.000000
23         landtaxvaluedollarcnt              0            0.000000
24                     taxamount              3            0.005761
25           censustractandblock             45            0.086414
26           max_transactiondate              0            0.000000
27                          id.1              0            0.000000
28                    parcelid.1              0            0.000000
29                      logerror              0            0.000000
30               transactiondate              0            0.000000
31           propertylandusedesc              0            0.000000